﻿@model GameStore.WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "GameStore: ваша корзина";
}

    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    @Html.Action("Menu", "Nav")
                </li>
            </ul>
        </div>
        <div class="col-8">
            <h2 class="text-center">Ваша корзина</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Кол-во</th>
                        <th>Игра</th>
                        <th class="text-right">Цена</th>
                        <th class="text-right">Общая цена</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                    <tr>
                        <td class="text-center">@line.Quantity</td>
                        <td class="text-left">@line.Game.Name</td>
                        <td class="text-right">@line.Game.Price.ToString("# лей")</td>
                        <td class="text-right">
                            @((line.Quantity * line.Game.Price).ToString("# лей"))
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("GameId", line.Game.GameId)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                            }
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Итого:</td>
                        <td class="text-right">
                            @Model.Cart.ComputeTotalValue().ToString("# лей")
                        </td>
                    </tr>
                </tfoot>
            </table>

            <div class="text-center">
                <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
                @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>