﻿@using GameStore.WebUI.Models
@using GameStore.WebUI.HtmlHelpers
@model GamesListViewModel

@{
    ViewBag.Title = "Товары";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">GameStore - магазин компьютерных игр</a>
    @Html.Action("Summary", "Cart")
</div>

<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                @Html.Action("Menu", "Nav")
            </li>
        </ul>
    </div>

    <div class="col-8">
        @foreach (var p in @Model.Games)
        {
            @Html.Partial("GameSummary", p)
        }
    </div>
</div>


<div class="row">
    <div class="col-8">
        <div class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
</div>

