﻿.navbar-brad img {
    width: 60px;
}

.navbar-nav li {
    padding-right: 20px;
}

.jumbotron {
    padding: 1em;
    border-radius: 0;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.padding {
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

    .alert hr {
        border-top: 2px solid #f0f0;
        width: 95%;
        margin-top: 0.3em;
        margin-bottom: 1em;
    }
