﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/ bootstrap-theme/css")
    @Styles.Render("~/bundles/ErrorStyles/css")

    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery.validate/js")
    @Scripts.Render("~/bundles/jquery.validate.unobtrusive/js")

    <title></title>
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>