﻿@model GameStore.Domain.Entities.Game

    <div class="well">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img  width="75" height="75"
                     src="@Url.Action("GetImage", "Game",
                new { Model.GameId })" />
            </div>
        }

        <div class="well">
            <h3>
                <strong>@Model.Name</strong>
                <span class="pull-right label label-primary">@Model.Price.ToString("# лей")</span>
            </h3>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => x.GameId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                </div>
            }
            <span class="lead">@Model.Description</span>
        </div>
    </div>